@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

/* Custom Container Width */
.container {
    width: 95%;
    margin: auto;
}

/*body, html {*/
/*    overflow-x: hidden;*/
/*}*/


@theme inline {
    --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
}



